@import "variables.scss";

.editablemenu-children, .editablemenu-container {
    list-style-type: none;
}

.editablemenu-selected {
    background-color: #c9c9c9
}

.editablemenu-container{
    font-weight: 800;

}

.editablemenu-element{

}