@import "variables.scss";

// .hostlistline-selected{
//   background: $hostlistline-selected-background;
// }


.history-header {
    color: $history-header;
    // font-weight: bolder;
    font-size: 1.2em;
    text-decoration: underline;
}

.history-row{
    background-color: $history-row;
    user-select: none;
    font-size: 0.85rem;
}

.history-row:hover{
    background-color: $history-row-hover;
}

.history-view-context{
    color: $history-view-context;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.history-view-command-caption{
    color: $history-view-command-caption;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.history-view-btn{
    font-size: 0.70rem !important;
    padding: 0.2rem !important;
}

