@import "variables.scss";
.hostlistline:hover  {
  // background: $hostlistline-selected-background;
  filter: brightness(120%);
}
.hostlistline-selected{
  background: $hostlistline-selected-background;
}
.hostlistline-status-unknown{
  background: #e4ece7;
}
.hostlistline-status-online{
  background: #6af19e;
}
.hostlistline-status-offline{
  background: #cf7458;
}
