@import "variables.scss";
.hostlistline:hover  {
  // background: $hostlistline-selected-background;
  filter: brightness(120%);
}
.hostlistline-selected{
  background: $hostlistline-selected-background;
}
.hostlistline-status-unknown{
  background: $hostlistline-status-unknown;
}
.hostlistline-status-online{
  background: $hostlistline-status-online;
}
.hostlistline-status-offline{
  background: $hostlistline-status-offline;
}
