@import "variables.scss";


.menu{
    /*centered on screen*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 80%;

    background: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-radius: 1rem;
}
.menu-close-button{
    position:absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    background: transparent;
    border-style: none;
}
.menu-close-button:hover{
    color:grey;
}

.menu-container{
    border: 3px solid $borderColor;
    border-radius: 5px;
    color: $textColor;
}

.menu-command-panel-left{
    z-index:1;
    background: $color3;
    border-right: 3px solid $borderColor;
}
.menu-command-panel-right{
    background: $color1;
}
.menu-item-selected {
    background-color: cornflowerblue;
}

.menu-item-command .menu-item-container {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.arrow_box {
    position: relative;
    background: $color1;
    border: 0px solid $borderColor;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $color1;
    border-width: 12px;
    margin-top: -12px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $borderColor;
    border-width: 16px;
    margin-top: -16px;
}
