
.menu-container{
    border: 3px solid #898689;
    border-radius: 5px;
    color: #cbd2d8;
}
.menu-panel-left{
    z-index:1;
    background: #878487;
    border-right: 3px solid #898689;
}
.menu-panel-right{
    background: #6a686a;
    /*border-left: 3px solid #c2e1f5;*/
}
.menu-item-selected {
    background-color: cornflowerblue;
}
.arrow_box {
    position: relative;
    background: #6a686a;
    border: 0px solid #898689;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #6a686a;
    border-width: 12px;
    margin-top: -12px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #898689;
    border-width: 16px;
    margin-top: -16px;
}
