@import "variables.scss";



.console-row{
    border-bottom-style: solid;
    border-width:1px;
}
.console-row:hover{
    background: $process-console-row-hover;
}

.process-console-stdin::before {
    content: "> ";
    
}

.process-console-stdin {
    //background-color: $console-background;
    color: $process-console-stdin;
    font-style: italic;
    font-weight: bold;
}
.process-console-stdout {
    //background-color: $console-background;
    color: $process-console-stdout;
    font-style: normal;
    font-size: smaller;

}

span.shell-prompt {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: x-large;
    font-weight: bold;
}

.process-console{
    height: 100%;
    overflow-y: auto;
}