@import "variables.scss";



.console-row{
    border-style: solid;
}


.command-input {
    background-color: $console-background;
    color: cyan;
    font-style: italic;
    font-weight: bold;
}
.command-output {
    background-color: $console-background;
    color: #8cff20;
    font-style: normal;
    font-size: smaller;

}
span.shell-prompt {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: x-large;
    font-weight: bold;
}
