.command-input {
    background-color: darkblue;
    color: cyan;
    font-style: italic;
    font-weight: bold;
}
.command-output {
    background-color: darkblue;
    color: #8cff20;
    font-style: normal;
    font-size: smaller;

}
span.shell-prompt {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: x-large;
    font-weight: bold;
}
