$color1: #4f4d4e;
$textColor: #cbc9cb;
$color3: #716e70;
$borderColor: #bbb6b9;
$hostlistline-selected-background: #c2c2c2;
$console-background: darkblue;

$history-background: #656565;
$console-background: $history-background;